{{ with .Params.status }}
    {{ if eq "WIP" . }}
    <span class="status">Work in progress</span>
    {{ else if eq "complete" . }}
    <span class="status">Complete!</span>
    {{ else }}
    {{ end }}
{{ end }}
