{{ define "main" }}

<!-- Title and summary -->

<div class="container mt-5" style="max-width: 1000px;">
        <div class="row justify-content-center g-4">
            <div class="col-xs-12 col-sm-4">
                {{ $img := (.Resources.ByType "image").GetMatch "*featured*" }}
                {{ $img = $img.Fit "400x500" }}
                {{ with $img }}
                <div class="text-center">
                    <img src="{{ .Permalink }}" class="rounded card-img-top" style="max-width: 250px;">
                </div>
                {{ end }}
            </div>
            <div class="col-sm-7">
                    {{ if .Summary | safeHTML }} 
                    <h4 class="card-title display-2">{{ .Title }}</h4>
                    <p class="serif fs-2 pb-3">{{ .Summary }}</p>
                    {{ else }}
                    <h4 class="card-title display-2 pb-3">{{ .Title }}</h4>
                    {{ end }}
            </div>
        </div>

    <div class="container py-2">
        <div class="serif main-content p-5">
            {{ .Content | safeHTML }}
        </div>
    </div>

</div>
{{ end }}
